# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Environment variables
.env

# Build output
dist/*
!dist/.gitkeep

# Editor files
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Testing outputs
coverage/

# Temporary files from development/testing
tmp/
temp/